# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ipch
/D2mapDMA/ARM
/GpioBenchmark/ARM
/.vs/Wi2Pi/v14/*.suo
/D2mapDMA/*.user
/*.sdf
/*.suo
/GpioBenchmark/*.user
*.pdb
*.log
*.lastbuildstate
*.tlog
*.asm
*.user
*.opensdf
*.idb
*.ilk
*.suo
*.sdf
*.ipch
*.resfiles
*.Cache
*.intermediate
*.exp
*.appxrecipe
